*{
	margin: 0px;
	box-sizing: border-box;
	/* overflow-y: hidden; */
}
.cont1,.cont2,.win{
	display: none;
}
body{
	height: 100% !important;
}
.container{
	height:100vh;
}
.main-box{
	/* margin: 20px; */
	/* border:2px solid black; */
	height: 100%;
	width:100%;
	/* margin-top: 100px; */
	position: relative;
}

.home-block{
	height: 36%;
	width:36%;
	position:absolute;
}

.red-block{
	top:0px;
	left:0px;
	background-color:red;
}

.blue-block{
	top:0px;
	right:0px;
	background-color: #03a9f4;
}
.yellow-block{
	bottom:0px;
	right:0px;
	background-color:rgba(255,250,0,1);
}
.green-block{
	bottom:0px;
	left:0px;
	background-color:#98e021;
}

.home-partition{
	width:50%;
	height: 50%;
	padding:10%;
	float:left;
}

.white-circle{
	height: 100%;
	border:1px solid white;
	border-radius: 50%;
	background-color: white;
}

.goal{
	height: 28%;
	width: 28%;
	top:36%;
	left:36%;
	border-top: 2px solid #03a9f4;
	border-left: 2px solid red;
	border-right: 2px solid yellow;
	border-bottom: 2px solid #98e021;
	border-radius:30%;
	text-align: center;
	padding: 2%;
}
.road-box{
	position: absolute;
}
.rb1{
	width: 36%;
	height:28%;
	top: 36%;
	left:0px;
}
.rb2{
	width: 28%;
	height:36%;
	top: 0px;
	left:36%;
}

.rb3{
	width: 36%;
	height:28%;
	top: 36%;
	right:0px;
	/*background-color:green;*/
}

.rb4{
	width: 28%;
	height:36%;
	bottom: 0px;
	left:36%;
}

.rb1 .road-each-box,.rb3 .road-each-box{
	width: 	16.66%;
	height: 33.33%;
	border:0.1vmin solid black;
	float: left;
	padding-top: 5% !important;
}

.rb2 .road-each-box,.rb4 .road-each-box{
	height: 16.66%;
	width: 33.33%;
	border:0.1vmin solid black;
	float: left;
	padding-top: 0.5% !important;
}

.coin-visibility{
	position: relative;
	text-align: center;
	align-items: center;

}

.red-block .red-coin{
	height: 100%;
	width: 100%;
}
.coin-visibility .red-coin,.coin-visibility .blue-coin,.coin-visibility .yellow-coin,.coin-visibility .green-coin{
	height: 5.5vmin;
	width: 5.5vmin;

}
.allowed-coin{
	border:0.7vmin dotted black !important;
}

.coin-visibility .allowed-coin{
	animation-name: forCoins;
	animation-duration:1s;
	animation-iteration-count: infinite;
	height: 5vmin !important;
	width: 5vmin !important;
}
.red-block .allowed-coin,.blue-block .allowed-coin,.yellow-block .allowed-coin,.green-block .allowed-coin{
	animation-name: forInsideCoins;
	animation-duration:1s;
	animation-iteration-count: infinite;
}

.coin{
	border-radius: 50%;
	margin:auto;
}

/*.coin-visibility .coin{
	position: absolute;
	top: 50%;
	left: 50%;
	/*transform: translate(-50%, -50%);
}*/
.red-coin{
	border:0.5vmin solid white ;
	background-image:linear-gradient(red,#aaa) !important;
}
.red-dice{
	background-image:linear-gradient(red,#aaa);
}

.blue-block .blue-coin{
	height: 100%;
	width: 100%;
}
.blue-coin{
	border:0.5vmin solid white ;
	background-image:linear-gradient(#03a9f4,#aaa)!important;
}
.blue-dice{
	background-image:linear-gradient(#03a9f4,#aaa);
}
.yellow-block .yellow-coin{
	height: 100%;
	width: 100%;
}
.yellow-coin{
	border:0.5vmin solid white ;
	background-image:linear-gradient(yellow,#aaa)!important;
}
.yellow-dice{
	background-image:linear-gradient(yellow,#aaa);
}

.green-block .green-coin{
	height: 100%;
	width: 100%;
}
.green-coin{
	border:0.5vmin solid white ;
	background-image:linear-gradient(#98e021,#aaa)!important;
}
.green-dice{
	background-image:linear-gradient(#98e021,#aaa);
}

.player-name{
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	/* box-shadow: 3px 4px 9px 0px black; */
}

.name{
	float:left;
	border: 1px;
	width:25%;
	height:30px;
	text-align:center;
	color:white;
	font-weight: bold;
	padding:2px;

	/*margin-bottom: 20px;*/
}

.name1{
	background-image:linear-gradient(red,#aaa);
}

.name2{
	background-image:linear-gradient(#03a9f4,#aaa);
}
.name3{
	background-image:linear-gradient(yellow,#aaa);
}
.name4{
	background-image:linear-gradient(#98e021,#aaa);
}

.current{
	border:5px solid black;
	color:black;
}

.button{
	/*margin-top: 40px;*/
	min-height: 100px;
	width:100%;
	/*padding-left: 35%;*/
	/*padding-right: 35%;*/
}


.disp-num{
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	height: 100%;
}



.next-coin{
	background-image:linear-gradient(#000,#aaa);
	height: 4.5vmin;
	width: 4.5vmin;
	border:0.5vmin solid #575757;
	border-radius:50%;
	margin:auto;
	animation-name: forNextCoins;
	animation-duration:1s;
	animation-iteration-count: infinite;
}
.cut-coin{
	border:0.5vmin solid #8b0000!important;
}
.home{
	height: 100%;	
	background-color: #555;
	border: 1px solid #555;
	border-radius: 30%;
	display: none;
	/* margin-top: 50px; */
}

.home .coin-visibility{
	padding: 37%;

}
/*'rb11','rb114','rb25','rb26','rb316','rb33','rb412','rb411'*/
.home .coin-visibility .next-coin{
	background-image: none;
	background-color: white !important;
	float: left !important;
	margin:0px;
}
.coin-visibility #rb25,.coin-visibility #rb26,.coin-visibility #rb412,.coin-visibility #rb411{
	float: left !important;
	margin-left:0px;
	width:10px;
	height: 10px;
}
.coin-visibility #rb11,.coin-visibility #rb114,.coin-visibility #rb316,.coin-visibility #rb33{
	margin-top:0px;
	width:10px;
	height: 10px;
}


.square{
	height: 10% !important;
	width: 10%;
	border: 4px solid black;
	border-radius: 10px;
	float: left;
	margin-left:5%;
	margin-bottom: 5%;
	font-size:8vmin;
	font-weight: bold;
	text-align: center;
}
.disp-num .square{
	height: 40% !important;
	width: 40%;
	border: 0.8vmin solid black;
	border-radius: 10px;
	float: left;
	margin-left : 7%;
	margin-bottom: 5%;
	font-size:5vmin;
	font-weight: bold;
	text-align: center;
}
.timer{
	font-size: 2vmin;
}
.timer-dice{

	background-color: #ddd;
	margin:30%!important;
}


.point{
	height: 1.6vmin;
	width: 1.6%;
	border:0.8vmin solid black;
	margin:auto;
	border-radius: 50%;
	
}

.w-2{
	width:50%;
	float: left;
	padding: 10%;
	/*padding: 3px;*/
}
.w-1{
	width:100%;
	float: left;
	padding: 1vmin;
	/*padding: 3px;*/
}
.h-3{
	height: 33.33%;
}
.h-2{
	height: 50%;
	padding: 10%;
}
.h-1{
	/*padding: 15px;*/
	padding-top:40.2%;
	height: 100%;
}

.username{
	height: 100%;
	width: 100%;
	border: 2px solid black;
	background-color: #aaaaaa;
}

.username .square{
	margin:3vmin;
	background-image:linear-gradient(#333,#aaa);
	box-shadow: 10px 10px 9px 0px black;
	
}

.username input{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top: 5vmin;
	height:8vmin;
	border:none;
	border-radius: 1vmin;
	font-size:20px;
	padding-left:20px;
	color:white;
	box-shadow: 5px 5px 9px 0px black;
}
.button2{
	width:100%;
}
.continue{
	min-height: 50px;
	padding: 20px;
	background-image: linear-gradient(red,blue);
	color:white;
	border-radius: 20px;
	font-weight: bold;
	width:20%;
	margin-top:40px;
	margin-left:40%;
	box-shadow: 0px 5px 9px 0px black;
}

/*
.coin#rb25,.coin#rb26,.coin#rb411,.coin#rb412{
	width:15px!important;
	height:15px!important;
	border:0.5px;
}*/

.b1{
	left:0px;
	top:-11vmin;

}
.b2{
	top:-11vmin;
	right:0px;
}

.b3{
	bottom:-11vmin;
	right:0px;
}

.b4{
	bottom:-11vmin;
	left:0px;
}
.get-num{
	width:15vmin;
	position:absolute;
	height: 10vmin;
	background-image: linear-gradient(red,blue);
	color:white;
	border-radius: 20px;

	font-weight: bold;
	animation-name: buttonn;
	animation-duration:1s;
	animation-iteration-count: infinite;
	display: none;
	/*margin-left:auto;*/

}

.win{
	border:2px dotted black;
	padding:5%;
	border-radius: 1vmin;
	/* height: 120vmin; */
	width:80%;
	font-size:30px;
	text-align: center;
	background-color: #888;
	margin:10%;
}
.winner{
	margin:20px;
	border-radius: 1vmin;
	border:2px dotted none;

}
.rank{
	text-decoration: underline;
}


@keyframes forCoins{
	0%{
		margin-top: 0%;
		height: 5.5vmin;
		width: 5.5vmin;

	}
	50%{
		margin-top: 8% ;
		height: 4vmin;
		width: 4vmin;

	}
	100%{
		margin-top: 0%;
		height: 5.5vmin;
		width: 5.5vmin;

	}
}
@keyframes forNextCoins{
	0%{
		margin-top: 0%;
		height: 4.5vmin;
		width: 4.5vmin;

	}
	50%{
		margin-top: 8% ;
		height: 4vmin;
		width: 4vmin;

	}
	100%{
		margin-top: 0%;
		height: 4.5vmin;
		width: 4.5vmin;

	}
}

@keyframes forInsideCoins{
	0%{
		margin:0px;
	}
	50%{
		margin:10%;
		width:80%;
		height: 80%;
	}
	100%{
		margin:0px;
	}
}
/* @keyframes buttonn{
	0%{
		height: 50px;
		width:150px;
	}
	50%{
		height: 40px;
		width:120px;
	}
	100%{
		height: 50px;
		width:150px;
	}
} */