*{
	margin: 0px;
	box-sizing: border-box;

}
.main-box{
	margin: 20px;
	border:2px solid black;
	height: 500px;
	width:500px;
	position: relative;
}

.home-block{
	/*border:1px solid black;*/
	height: 180px;
	width:180px;
	position:absolute;
}

.red-block{
	/*position:relative;*/
	top:0px;
	left:0px;
	background-color:red;
}

.blue-block{
	/*position:relative;*/
	top:0px;
	right:0px;
	background-color: #03a9f4;
}
.yellow-block{
	/*position:relative;*/
	bottom:0px;
	right:0px;
	background-color:rgba(255,250,0,1);
}
.green-block{
	/*position:relative;*/
	bottom:0px;
	left:0px;
	background-color:#98e021;
}

.home-partition{
	width:50%;
	height: 50%;
	padding:10%;
	float:left;
}

.white-circle{
	height: 100%;
	border:2px solid white;
	border-radius: 50%;
	background-color: white;
}

.goal{
	height: 140px;
	width: 140px;
	top:178px;
	left:178px;
	border-top: 2px solid #03a9f4;
	border-left: 2px solid red;
	border-right: 2px solid yellow;
	border-bottom: 2px solid #98e021;
	border-radius:30%;
	text-align: center;
	padding: 10px;
	/*vertical-align: center;*/
	/*padding:20px;*/
	/*padding-top:50px;*/
}

.road-box{
	
	/*border:1px solid black;*/
	position: absolute;
}
.rb1{
	width: 178px;
	height:136px;
	top: 180px;
	left:0px;
}
.rb2{
	width: 136px;
	height:178px;
	top: 0px;
	left:180px;
}

.rb3{
	width: 178px;
	height:136px;
	top: 180px;
	right:0px;
	/*background-color:green;*/
}

.rb4{
	width: 136px;
	height:178px;
	bottom: 0px;
	left:180px;
}

.rb1 .road-each-box,.rb3 .road-each-box{
	width: 	16.67%;
	height: 33.33%;
	border:1px solid black;
	float: left;
	padding-top: 5% !important;
}

.rb2 .road-each-box,.rb4 .road-each-box{
	height: 16.67%;
	width: 33.33%;
	border:1px solid black;
	float: left;
	padding-top: 3% !important;
}

.coin-visibility{
	position: relative;
	text-align: center;
	align-items: center;

}

.test-color{
	background-color: #aaa;
	height: 20px;
	width: 20px;
}
.red-block .red-coin{
	height: 100%;
	width: 100%;
}
.coin-visibility .red-coin{
	height: 20px;
	width: 20px;
}
.coin-visibility .blue-coin{
	height: 20px;
	width: 20px;
}
.coin-visibility .yellow-coin{
	height: 20px;
	width: 20px;
}
.coin-visibility .green-coin{
	height: 20px;
	width: 20px;
}

.coin{
	border-radius: 50%;
	margin:auto;
}

/*.coin-visibility .coin{
	position: absolute;
	top: 50%;
	left: 50%;
	/*transform: translate(-50%, -50%);
}*/
.red-coin{
	border:2px solid white;
	background-image:linear-gradient(red,#aaa);
}
.red-dice{
	background-image:linear-gradient(red,#aaa);
}

.blue-block .blue-coin{
	height: 100%;
	width: 100%;
}
.blue-coin{
	border:2px solid white;
	background-image:linear-gradient(#03a9f4,#aaa);
}
.blue-dice{
	background-image:linear-gradient(#03a9f4,#aaa);
}
.yellow-block .yellow-coin{
	height: 100%;
	width: 100%;
}
.yellow-coin{
	border:2px solid white;
	background-image:linear-gradient(yellow,#aaa);
}
.yellow-dice{
	background-image:linear-gradient(yellow,#aaa);
}

.green-block .green-coin{
	height: 100%;
	width: 100%;
}
.green-coin{
	border:2px solid white;
	background-image:linear-gradient(#98e021,#aaa);
}
.green-dice{
	background-image:linear-gradient(#98e021,#aaa);
}

.player-name{
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	box-shadow: 3px 4px 9px 0px black;
}
.current-player{
	/*position: fixed;
	top:40px;
	left:0px;
	height: 40px;
	width:100%;
	padding: 2px;
	margin-bottom: 30px;*/
}
.name{
	float:left;
	border: 1px;
	width:25%;
	height:30px;
	text-align:center;
	color:white;
	font-weight: bold;
	padding:2px;

	/*margin-bottom: 20px;*/
}

.name1{
	background-image:linear-gradient(red,#aaa);
	/*background-color: red;*/
}

.name2{
	background-image:linear-gradient(#03a9f4,#aaa);
	/*background-color: #03a9f4;*/
}
.name3{
	background-image:linear-gradient(yellow,#aaa);
	/*background-color: yellow;*/
}
.name4{
	background-image:linear-gradient(#98e021,#aaa);
	/*background-color: #98e021;*/
}

.current{
	border:5px solid black;
	color:black;
}

.button{
	margin-top: 40px;
	min-height: 50px;
	width:100%;
	padding-left: 35%;
	padding-right: 35%;
}
.get-num{
	
	
	/*min-width: 150px;*/
	width:100%;
	height: 50px;
	background-image: linear-gradient(red,blue);
	color:white;
	border-radius: 20px;
	font-weight: bold;
	margin-left:auto;

}

.disp-num{
	font-size: 30px;
	font-weight: bold;
}

.allowed-coin{
	border:2px solid black;

}

.next-coin{
	background-image:linear-gradient(#000,#aaa);
	height: 15px;
	width: 15px;
	border:0.5px solid #575757;
	border-radius:50%;
	margin:auto;
}
.next-coin.cut-border{
	border:2px solid red!important;
}
.home{
	height: 30px;	
	background-color: #555;

}

.home .coin-visibility{
	float: left;
	width:85%;
	height:100%;
	padding-top:4px;
}
.home .coin-visibility .coin{
	float: left !important;
}
.home .coin-visibility .next-coin{
	background-image: none;
	background-color: white !important;
	float: left !important;
	margin:0px;

}

.home .text{
	width:15%;
	border:2px solid black;
	height: 100%;
	padding: 3px;
	font-weight: bold;
	color:white;
	float: left;


}

.square{
	width:50px;
	height: 50px;
	border: 4px solid black;
	border-radius: 10px;
	float: left;
	margin-left:5px;
	margin-bottom: 5px;
	font-size:30px;
	font-weight: bold;
	text-align: center;
}

.point{
	height: 7px;
	width: 7px;
	border:3.5px solid black;
	margin:auto;
	border-radius: 50%;
	
}

.w-2{
	width:50%;
	float: left;
	padding: 2px;
	/*padding: 3px;*/
}
.w-1{
	width:100%;
	float: left;
	padding: 2px;
	/*padding: 3px;*/
}
.h-3{
	height: 33.33%;
}
.h-2{
	height: 50%;
	padding: 5px;
}
.h-1{
	/*padding: 15px;*/
	padding-top:15px;
	height: 100%;
}

.username{
	height: 500px;
	width: 500px;
	border: 2px solid black;
	margin: 15px;
	/*box-shadow: 16px 14px 9px 0px #aaa;*/
	background-color: #aaaaaa;
}

.username .square{
	margin:15px;
	background-image:linear-gradient(#333,#aaa);
	box-shadow: 10px 10px 9px 0px black;
}

.username input{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top: 20px;
	height:40px;
	border:none;
	border-radius: 10px;
	font-size:20px;
	padding-left:20px;
	color:white;
	box-shadow: 5px 5px 9px 0px black;
}
.continue{
	min-height: 50px;
	padding: 20px;
	background-image: linear-gradient(red,blue);
	color:white;
	border-radius: 20px;
	font-weight: bold;
	margin-left:auto;
	box-shadow: 0px 5px 9px 0px black;
}


.coin#rb25,.coin#rb26,.coin#rb411,.coin#rb412{
	width:15px!important;
	height:15px!important;
	border:0.5px;
}